# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [92]:
# import numpy and pandas
import numpy as np
import pandas as pd
import scipy.stats as st

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [93]:
# Your code here:
data=pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [132]:
# Your code here:
data.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [95]:
data.isna().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25528
Annual Salary         8174
Hourly Rate          25528
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [96]:
# Your code here:
data['Salary or Hourly'].value_counts()

Salary    25528
Hourly     8174
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [97]:
# Your code here:
data['Department'].value_counts(dropna=False)

POLICE                 13848
FIRE                    4627
STREETS & SAN           2175
WATER MGMNT             1914
AVIATION                1856
OEMC                    1737
TRANSPORTN              1113
PUBLIC LIBRARY          1088
DAIS                    1033
FAMILY & SUPPORT         656
FINANCE                  544
HEALTH                   467
LAW                      398
CITY COUNCIL             362
BUILDINGS                258
PUBLIC SAFETY ADMIN      244
BUSINESS AFFAIRS         167
HOUSING & ECON DEV       154
COPA                     123
BOARD OF ELECTION        111
MAYOR'S OFFICE           104
INSPECTOR GEN             95
CITY CLERK                88
PROCUREMENT               84
HUMAN RESOURCES           75
ANIMAL CONTRL             75
CULTURAL AFFAIRS          74
HOUSING                   66
BUDGET & MGMT             44
ADMIN HEARNG              38
DISABILITIES              28
TREASURER                 28
HUMAN RELATIONS           17
BOARD OF ETHICS            8
POLICE BOARD               2
LICENSE APPL COMM          1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [144]:
# Your code here:
import scipy.stats
from scipy.stats import ttest_1samp
test=data['Hourly Rate'].copy()
test=test.dropna()

In [145]:
test.isna().sum()

0

In [146]:
stat, pval = ttest_1samp(test, 30)
pval

3.825475847673794e-202

In [158]:
np.mean(test)

34.58644971862046

In [147]:
# p<0.05 and the average hourly wage is more than 30.It means that the hourly wage of all hourly workers is more than $30/hr.

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [148]:
# Your code here:
test_salary=data[['Department','Annual Salary']].copy()
test_salary=test_salary.dropna()
test_salary=test_salary[test_salary['Department']=='POLICE']
display(test_salary)
test_salary=test_salary['Annual Salary']
test_salary

      Department  Annual Salary
1         POLICE        93354.0
4         POLICE        90024.0
6         POLICE       111444.0
7         POLICE       103932.0
9         POLICE        95736.0
...          ...            ...
33696     POLICE        80016.0
33697     POLICE        72510.0
33698     POLICE        76266.0
33699     POLICE        90024.0
33700     POLICE        93354.0

[13824 rows x 2 columns]

1         93354.0
4         90024.0
6        111444.0
7        103932.0
9         95736.0
           ...
33696     80016.0
33697     72510.0
33698     76266.0
33699     90024.0
33700     93354.0
Name: Annual Salary, Length: 13824, dtype: float64

In [149]:
stat, pval = ttest_1samp(test_salary, 86000)
pval/2

6.119566952121482e-76

In [157]:
np.mean(test_salary)

88834.11892361111

In [150]:
# pval/2 <0.05 and the average salary is more than 86000. It means that the salaries of salaried employee are more than $86000 per year.

Using the `crosstab` function, find the department that has the most hourly workers.

In [151]:
# Your code here:
data_crosstab = pd.crosstab(data['Department'], data['Salary or Hourly'], margins=False)
data_crosstab
data_crosstab[data_crosstab['Hourly']==data_crosstab['Hourly'].max()]

Salary or Hourly  Hourly  Salary
Department
STREETS & SAN       1846     329

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [152]:
# Your code here:
test_hourly_wage=data.loc[(data['Department'].isin(['STREETS & SAN']))&(data['Salary or Hourly']=='Hourly')]

In [153]:
test_hourly_wage.reset_index(drop=True)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AGSALUD, FERNAN S",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,40.78
1,"AGSALUD JR, JUANITO S",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,38.52
2,"AGUILAR, EFRAIN",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,38.52
3,"ABDUL-SHAKUR, TAHIR J",POOL MOTOR TRUCK DRIVER,STREETS & SAN,P,Hourly,10.0,NaN,29.96
4,"ABRAMS, SAMUEL A",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,37.45
...,...,...,...,...,...,...,...,...
1841,"ZIZUMBO, JOSE N",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,38.01
1842,"ZIZUMBO, LUIS",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,37.45
1843,"ZUMMO, ROBERT J",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,37.45
1844,"ZUNICH, JONATHAN G",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,38.52
1845,"ZUNIGA, THOMAS",GENERAL LABORER - DSS,STREETS & SAN,F,Hourly,40.0,NaN,25.95

In [154]:
test_hourly_wage1=test_hourly_wage[['Hourly Rate']]

In [155]:
stat, pval = ttest_1samp(test_hourly_wage1, 35)
pval/2

array([3.29023722e-05])

In [156]:
# In this case i use one-tailed test and the p_value should devided by 2. 
# According to the result H0 should be rejected that means the hourly wage less than $35 per hour.

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [123]:
import scipy.stats
len(test)

8174

In [130]:
# Your code here:
confidence_level = 0.95
degrees_freedom = len(test) - 1  
sample_mean = np.mean(test)
sample_standard_error = scipy.stats.sem(test) 

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

In [131]:
print( 'confidence interval is ', confidence_interval, '.' )

confidence interval is  (34.29839539204361, 34.874504045197305) .

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [137]:
# Your code here:
test1=data[(data['Department']=='POLICE')&(data['Salary or Hourly']=='Salary')]
test1.head()
test2=test1['Annual Salary']
test2

1         93354.0
4         90024.0
6        111444.0
7        103932.0
9         95736.0
           ...
33696     80016.0
33697     72510.0
33698     76266.0
33699     90024.0
33700     93354.0
Name: Annual Salary, Length: 13824, dtype: float64

In [138]:
confidence_level = 0.95
degrees_freedom = len(test2) - 1  
sample_mean = np.mean(test2)
sample_standard_error = scipy.stats.sem(test2) 

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

In [139]:
print( 'confidence interval is ', confidence_interval, '.' )

confidence interval is  (88534.1182885883, 89134.11955863392) .

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [13]:
# Your code here: